
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul, li, div, button, h1, h2, h3, h4, span {
  margin: 0;
  padding: 0;
}


/* ---- typography and links ---- */

body {
  color: #111;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: rgb(223, 223, 223);
}

h1 {}

h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 10px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.5);
}

#site-footer {
  color: rgb(0, 0, 0);
  padding: 30px 10px;
  background: rgb(219, 219, 219, 0.5);
}

#site-main {
  margin-bottom: 60px;
}

.wrapper {
background-color:white;
opacity:.99;
box-shadow: 10px 10px 15px silver;

}

section {
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;

}

/* ---- header ---- */

.logo {
  font-weight: 600;
  font-size: 1.5rem;
}

.email-icon {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

.github-icon {
  margin: 0 10px;
  width: 37px;
  height: 37px;
  opacity: 0.6;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation li:first-child {
  margin-right: auto;
}

.navigation a {
  display: flex;
}


 /* ---- slider ---- */ 

 section:first-child {
   padding-left: 0;
   padding-right: 0;
 }
 #coder-designer-slider {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
  background-color: rgb(206, 206, 206);
  overflow: hidden;
}

.left-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.right-picture {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.designer-text {
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 30%;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  display: none;
}

.coder-text {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 30%;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  display: none;
} 

.designer-title {
  position: absolute;
  font-size: 1.9rem;
  top: 4rem;
  left: 4rem;
  z-index: 1;
}

#designer-btn {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  display: block;
  margin-top: 2rem;
  padding: 5px;
  background-color:  rgb(107, 128, 247);
  color: white;
}
.coder-title {
  position: absolute;
  font-size: 1.9rem;
  top: 4rem;
  right: 4rem;
  z-index: 1;
}

.designer-h2, .coder-h2 {
  font-size: 1.8rem;
}

#coder-btn {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  display: block;
  margin-top: 2rem;
  padding: 5px;
  background-color: rgb(107, 128, 247);
  color: white;
}

.arrow {
  width: 40px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  z-index: 1;
}

.left-arrow {
  transform: rotate(180deg);
  left: 1rem;
  visibility: hidden;
}

.right-arrow {
  visibility: hidden;
}

.slider-quote {
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: 2rem;
  line-height: 1.5rem;
}

.designer-second-paragraph {
  position: absolute;
  top: 4rem;
}
/* ---- main ---- */


.about-me {
  font-size: 1.3rem;
  font-weight: 300;
}

/* ---- graph ----- */

.column-left, .column-right {
  width: 45%;
}


.graph {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.bar {
  height: 25px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}

.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 10px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}

.bar::after{
  content: '';
  background:  rgb(107, 128, 247);
  height: 10px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bar1::after{
  max-width: 80%;
}

.bar2::after{
  max-width: 70%;
}

.bar3::after{
  max-width: 65%;
}

.bar4::after{
  max-width: 70%;
}

.bar5::after{
  max-width: 75%;
}

.bar6::after{
  max-width: 82%;
}


/* --- projects --- */

  
.image-projects {
  width: 250px;
  height: auto;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects-container {
  background-color: rgb(207, 207, 207);
  padding: 0 10px 0;
}

.single-project {
  margin-bottom: 2rem;
}
/* --- experiences ---*/

.exp-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem;
}

.date-elements {
  flex: 1 0 5%;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 1.5rem;

}

.text-elements {
  flex: 1 0 80%;
}

.code-tags {
  background-color:  rgb(107, 128, 247);
  color: white;
  display:inline-block;
  font-size: 1rem;
  padding: 3px 12px 3px;
  margin-right: 1.3rem;
  margin-bottom: 8px;
}

.exp-content ul {
  margin-top: 2rem;
}

.exp-content {
  font-weight: 300;
}

p.exp-content:first-child {
  margin-bottom: 2rem;
}

.first-sent {
  margin-bottom: 1rem;
}

/* --- footer ---*/



@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}



@media (min-width: 768px) {
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /*---- main ---- */ 

.about-me {
  width: 80%;
  display: block;
  margin: 0 auto;
}


}

@media (max-width: 768px) {
  .designer-second-paragraph {
    display: none;
  }
  
  .coder-second-paragraph {
    display: none;
  }
}

 /*---- mobile ---- */

@media (max-width: 500px) { 

  /*---- graph ---- */

.column-left, .column-right {
  width: 100%;
  }

  /*---- slider ---- */
.designer-title {
    top: 7.25rem;
    left: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;

  }

  .designer-h2, .coder-h2 {
    text-align: center;
    padding: 2px;
    font-size: 1.7rem;
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
  }
  
  .coder-title {
    top: 7.25rem;
    right: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;

  }

  #coder-designer-slider {
    min-height: 40vh;
    overflow: hidden;
  }

  #coder-btn, #designer-btn {
    font-size: 0.8rem;
    margin-top: 3px;
  }

 .left-picture {
  height: auto;
  width: 111%;
  left: -50%;
 }
 .right-picture {
  height: auto;
  width: 111%;
  right: -50%;
 }
 .coder-text {
   font-size: 0.9rem;
   line-height: 1rem;
 }

 .designer-text {
  font-size: 0.9rem;
  line-height: 1rem;
}
.designer-second-paragraph {
  display: none;
}

.coder-second-paragraph {
  display: none;
}

/* --- projects --- */
.projects {
  justify-content: center;
}


}


